:root {
  /* Alert */

  --success-color: #68e094;
  --warning-color: #f5d329;
  --danger-color: #f85c5c;

  /* Button */

  --primary-btn-color: #f14b4b;
  --primary-btn-color-2: #f87171;
  --primary-btn-color-3: #dc2626;
  --secondary-btn-color: #fb7185;
  --text-color: #fafafa;
  --text-gray-color: #475569;

  /* Card */
  --border-color: #d1cece;

  /* background */
  --bg-color: #fafafa;
  --bg-light-color: #f5f2f2;
}
