:root {
  --primary-color: #ff6363;
  --secondary-color: #ffab76;
  --shade-1: #fffda2;
  --shade-2: #baffb4;
  --shade-2-1: #4ade80;
  --text-color: #353749;
  --bg-color: #fafafa;
  --border-color: #d1cece;
}
