/* margin */
.mg-1x {
  margin: 0.8rem;
}
.mg-2x {
  margin: 1.6rem;
}
.mg-3x {
  margin: 2.4rem;
}
.mg-4x {
  margin: 3.2rem;
}
.mg-5x {
  margin: 4rem;
}
.mg-6x {
  margin: 6.4rem;
}
/* .mg-7x {
  margin: 7rem;
}
.mg-8x {
  margin: 8rem;
}
.mg-9x {
  margin: 9rem;
}
.mg-10x {
  margin: 10rem;
} */

/* margin-top */
.mg-top-1x {
  margin-top: 0.8rem;
}
.mg-top-2x {
  margin-top: 1.6rem;
}
.mg-top-3x {
  margin-top: 2.4rem;
}
.mg-top-4x {
  margin-top: 3.2rem;
}
.mg-top-5x {
  margin-top: 4rem;
}
.mg-top-6x {
  margin-top: 6.4rem;
}
/* .mg-t-7x {
  margin-top: 7rem;
}
.mg-t-8x {
  margin-top: 8rem;
}
.mg-t-9x {
  margin-top: 9rem;
}
.mg-t-10x {
  margin-top: 10rem;
} */

/* margin-right */
.mg-right-1x {
  margin-right: 0.8rem;
}
.mg-right-2x {
  margin-right: 1.6rem;
}
.mg-right-3x {
  margin-right: 2.4rem;
}
.mg-right-4x {
  margin-right: 3.2rem;
}
.mg-right-5x {
  margin-right: 4rem;
}
.mg-right-6x {
  margin-right: 6.4rem;
}
/* .mg-right-7x {
  margin-right: 7rem;
}
.mg-right-8x {
  margin-right: 8rem;
}
.mg-right-9x {
  margin-right: 9rem;
}
.mg-right-10x {
  margin-right: 10rem;
} */

/* margin-bottom */
.mg-bottom-1x {
  margin-bottom: 0.8rem;
}
.mg-bottom-2x {
  margin-bottom: 1.6rem;
}
.mg-bottom-3x {
  margin-bottom: 2.4rem;
}
.mg-bottom-4x {
  margin-bottom: 3.2rem;
}
.mg-bottom-5x {
  margin-bottom: 4rem;
}
.mg-bottom-6x {
  margin-bottom: 6.4rem;
}
/* .mg-bottom-7x {
  margin-bottom: 7rem;
}
.mg-bottom-8x {
  margin-bottom: 8rem;
}
.mg-bottom-9x {
  margin-bottom: 9rem;
}
.mg-bottom-10x {
  margin-bottom: 10rem;
} */

/* margin-left */
.mg-left-1x {
  margin-left: 0.8rem;
}
.mg-left-2x {
  margin-left: 1.6rem;
}
.mg-left-3x {
  margin-left: 2.4rem;
}
.mg-left-4x {
  margin-left: 3.2rem;
}
.mg-left-5x {
  margin-left: 4rem;
}
.mg-left-6x {
  margin-left: 6.4rem;
}
/* .mg-left-7x {
  margin-left: 7rem;
}
.mg-left-8x {
  margin-left: 8rem;
}
.mg-left-9x {
  margin-left: 9rem;
}
.mg-left-10x {
  margin-left: 10rem;
} */
