padding .pd-1x {
  padding: 0.8rem;
}
.pd-2x {
  padding: 1.6rem;
}
.pd-3x {
  padding: 2.4rem;
}
.pd-4x {
  padding: 3.2rem;
}
.pd-5x {
  padding: 4rem;
}
.pd-6x {
  padding: 6.4rem;
}
/* .pd-7x {
  padding: 7rem;
}
.pd-8x {
  padding: 8rem;
}
.pd-9x {
  padding: 9rem;
}
.pd-10x {
  padding: 10rem;
} */

/* padding-top */
.pd-t-1x {
  padding-top: 0.8rem;
}
.pd-t-2x {
  padding-top: 1.6rem;
}
.pd-t-3x {
  padding-top: 2.4rem;
}
.pd-t-4x {
  padding-top: 3.2rem;
}
.pd-t-5x {
  padding-top: 4rem;
}
.pd-t-6x {
  padding-top: 6.4rem;
}
/* .pd-t-7x {
  padding-top: 7rem;
}
.pd-t-8x {
  padding-top: 8rem;
}
.pd-t-9x {
  padding-top: 9rem;
}
.pd-t-10x {
  padding-top: 10rem;
} */

/* padding-right */
.pd-r-1x {
  padding-right: 0.8rem;
}
.pd-r-2x {
  padding-right: 1.6rem;
}
.pd-r-3x {
  padding-right: 2.4rem;
}
.pd-r-4x {
  padding-right: 3.2rem;
}
.pd-r-5x {
  padding-right: 4rem;
}
.pd-r-6x {
  padding-right: 6.4rem;
}
/* .pd-r-7x {
  padding-right: 7rem;
}
.pd-r-8x {
  padding-right: 8rem;
}
.pd-r-9x {
  padding-right: 9rem;
}
.pd-r-10x {
  padding-right: 10rem;
} */

/* padding-bottom */
.pd-b-1x {
  padding-bottom: 0.8rem;
}
.pd-b-2x {
  padding-bottom: 1.6rem;
}
.pd-b-3x {
  padding-bottom: 2.4rem;
}
.pd-b-4x {
  padding-bottom: 3.2rem;
}
.pd-b-5x {
  padding-bottom: 4rem;
}
.pd-b-6x {
  padding-bottom: 6.4rem;
}
/* .pd-b-7x {
  padding-bottom: 7rem;
}
.pd-b-8x {
  padding-bottom: 8rem;
}
.pd-b-9x {
  padding-bottom: 9rem;
}
.pd-b-10x {
  padding-bottom: 10rem;
} */

/* padding-left */
.pd-l-1x {
  padding-left: 0.8rem;
}
.pd-l-2x {
  padding-left: 1.6rem;
}
.pd-l-3x {
  padding-left: 2.4rem;
}
.pd-l-4x {
  padding-left: 3.2rem;
}
.pd-l-5x {
  padding-left: 4rem;
}
.pd-l-6x {
  padding-left: 6.4rem;
}
/* .pd-l-7x {
  padding-left: 7rem;
}
.pd-l-8x {
  padding-left: 8rem;
}
.pd-l-9x {
  padding-left: 9rem;
}
.pd-l-10x {
  padding-left: 10rem;
} */
