/* padding  */

.pd-1x {
  padding: 0.8rem;
}
.pd-2x {
  padding: 1.6rem;
}
.pd-3x {
  padding: 2.4rem;
}
.pd-4x {
  padding: 3.2rem;
}
.pd-5x {
  padding: 4rem;
}
.pd-6x {
  padding: 6.4rem;
}
/* .pd-7x {
  padding: 7rem;
}
.pd-8x {
  padding: 8rem;
}
.pd-9x {
  padding: 9rem;
}
.pd-10x {
  padding: 10rem;
} */

/* padding-top */
.pd-top-1x {
  padding-top: 0.8rem;
}
.pd-top-2x {
  padding-top: 1.6rem;
}
.pd-top-3x {
  padding-top: 2.4rem;
}
.pd-top-4x {
  padding-top: 3.2rem;
}
.pd-top-5x {
  padding-top: 4rem;
}
.pd-top-6x {
  padding-top: 6.4rem;
}
/* .pd-top-7x {
  padding-top: 7rem;
}
.pd-top-8x {
  padding-top: 8rem;
}
.pd-top-9x {
  padding-top: 9rem;
}
.pd-top-10x {
  padding-top: 10rem;
} */

/* padding-right */
.pd-right-1x {
  padding-right: 0.8rem;
}
.pd-right-2x {
  padding-right: 1.6rem;
}
.pd-right-3x {
  padding-right: 2.4rem;
}
.pd-right-4x {
  padding-right: 3.2rem;
}
.pd-right-5x {
  padding-right: 4rem;
}
.pd-right-6x {
  padding-right: 6.4rem;
}
/* .pd-right-7x {
  padding-right: 7rem;
}
.pd-right-8x {
  padding-right: 8rem;
}
.pd-right-9x {
  padding-right: 9rem;
}
.pd-right-10x {
  padding-right: 10rem;
} */

/* padding-bottom */
.pd-bottom-1x {
  padding-bottom: 0.8rem;
}
.pd-bottom-2x {
  padding-bottom: 1.6rem;
}
.pd-bottom-3x {
  padding-bottom: 2.4rem;
}
.pd-bottom-4x {
  padding-bottom: 3.2rem;
}
.pd-bottom-5x {
  padding-bottom: 4rem;
}
.pd-bottom-6x {
  padding-bottom: 6.4rem;
}
/* .pd-bottom-7x {
  padding-bottom: 7rem;
}
.pd-bottom-8x {
  padding-bottom: 8rem;
}
.pd-bottom-9x {
  padding-bottom: 9rem;
}
.pd-bottom-10x {
  padding-bottom: 10rem;
} */

/* padding-left */
.pd-left-1x {
  padding-left: 0.8rem;
}
.pd-left-2x {
  padding-left: 1.6rem;
}
.pd-left-3x {
  padding-left: 2.4rem;
}
.pd-left-4x {
  padding-left: 3.2rem;
}
.pd-left-5x {
  padding-left: 4rem;
}
.pd-left-6x {
  padding-left: 6.4rem;
}
/* .pd-left-7x {
  padding-left: 7rem;
}
.pd-left-8x {
  padding-left: 8rem;
}
.pd-left-9x {
  padding-left: 9rem;
}
.pd-left-10x {
  padding-left: 10rem;
} */
