/* import */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url(./css/shield.css);

/* Generic */

:root {
  --primary-color: #ff6363;
  --secondary-color: #ffab76;
  --shade-1: #fffda2;
  --shade-2: #baffb4;
  --shade-2-1: #4ade80;
  --text-color: #353749;
  --text-color-2: #fafafa;
  --bg-color: #fafafa;
  --border-color: #d1cece;
  --primary-color-2: #fecaca;
  --green-color: #4ade80;
  --gray-color: #d1cece;
  --red-color: #ff6363;
  --hightlight-color: #14b8a6;
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

/* Container */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.installation {
  height: fit-content;
  justify-content: center;
  padding-bottom: 10rem;
  width: 65%;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--bg-color);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
}

.sidenav {
  width: 30rem;
  height: 80vh;
  background-color: var(--bg-color);
  overflow: auto;
}

.content-wrapper {
  display: flex;
}

.content {
  height: 80vh;
  width: 100%;
  overflow: auto;
}

.footer-container {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light-color);
}

/* typography */

.hero-heading {
  color: var(--primary-color);
  font-size: 6rem;
}

.header-title {
  color: var(--primary-color);
}

/* Icon */

.shield-icon {
  color: var(--primary-color);
}

.git-icon {
  margin-left: auto;
}

.introduction {
  padding: 1rem 2rem;
}

.inst-heading {
  text-align: center;
}

.header-menu-mb {
  visibility: hidden;
}

/* button */

.hero-btn {
  min-width: 15rem;
  height: 50px;
  border-radius: 5px;
  font-size: 2rem;
  padding: 1rem 2rem;
}

.btn-primary-doc {
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
}

.btn-primary-doc:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.btn-secondary-doc {
  background-color: var(--shade-2);
  border: 2px solid var(--shade-2);
  color: var(--text-color);
}

.btn-secondary-doc:hover {
  background-color: var(--shade-2-1);
  color: var(--bg-color);
}

/* links */

.side-nav-item {
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  width: 15rem;
  display: inline-block;
  border-radius: 5px;
}

.side-nav-item:hover {
  background-color: var(--primary-color-2);
  color: var(--primary-color);
}

/* Utils */

.pointer {
  cursor: pointer;
}

.code-snippet {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding-top: 2rem;
  overflow: auto;
}

.hightlight {
  background-color: var(--hightlight-color);
  color: var(--text-color-2);
  padding: 0 1rem;
  border-radius: 3px;
}

.in-bl {
  display: inline-block;
}

.t-center {
  text-align: center;
}

@media screen and (max-width: 480px) {
  /* Landing Page */

  .btn-container {
    display: flex;
    flex-direction: column;
  }

  .btn-secondary-doc {
    margin-top: 0;
  }

  .introduction {
    text-align: center;
  }

  .installation {
    width: 100%;
    padding: 2rem;
  }

  .code-snippet {
    width: 100%;
  }

  /* Drawer */
  .header-menu-mb {
    visibility: visible;
    margin-left: auto;
    padding: 1rem 2rem;
  }

  .header-menu-mb:active {
    background-color: var(--gray-color);
  }

  .header-container {
    padding: 1.5rem;
  }

  .sidenav {
    position: absolute;
    z-index: 1;
    width: 100%;
  }

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }
}
