.btn-container {
  display: flex;
  justify-content: space-evenly;
}

.hide-modal {
  visibility: hidden;
}

.show-modal {
  visibility: visible;
}

.modal-iframe-individual {
  height: 22rem;
}

.modal-iframe {
  height: 40rem;
}
