.img-sm {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.grid-iframe {
  height: 25rem;
}

/* Responsive */

@media screen and (max-width: 480px) {
  .grid-2 {
    width: 100%;
  }

  .img-sm {
    width: 10rem;
    height: 10rem;
  }
}
